# Dependencies
/node_modules
/client/node_modules

# Build output
/client/dist
/client/android/app/build
/client/android/build

# Gradle files
.gradle/
/client/android/.gradle

# IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local configuration
/client/android/local.properties

# Secrets
firebase-service-account-key.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
