# Environment variables
.env

# Dependencies
node_modules/
client/node_modules/

# Production build output
client/dist/

# IDE-specific files
.idea/

# Firebase credentials
firebase-service-account-key.json
