.sos-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sos-button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #EE3224; /* PRC Red */
  border: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.sos-button:hover {
    transform: scale(1.05);
}

.sos-button-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}

.sos-button-text {
    font-size: 4rem;
}

.sos-button-subtext {
    font-size: 1.2rem;
    margin-top: 5px;
}

.sos-pulse {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #EE3224;
  animation: pulse 2s infinite;
  z-index: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
